.HomePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.hero-text {
    color: f$font-color;
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
    .hero-name {
        color: $main-blue-color;
    }
}

.hero-sub-text {
    font-size: 1.4rem;
    text-align: center;
    width: 70%;
    margin: 1rem auto;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;

    .icon-holder {
        margin-right: 2rem;

        .icon {
            font-size: 2rem;
            color: $font-color;
            transition: all 0.4s ease-in-out;
        }
        .yt:hover {
            color: red;
        }
        .gh:hover {
            color: rgb(206, 28, 206);
        }
        .fb:hover {
            color: rgb(51, 102, 255);
        }
    }
}
